.bookDetails{
    width: 80vw;
    height: 60vh;
    border: 2px solid lightslategray;
    background-color: white;
    margin: 2px 2px 5px 2px ;
    border-radius: 10px;
}
.bookDetails_row{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2px 2px 5px 2px ;
}
.bookDetails__bookTitle{
    text-align: center;
}
.bookDetails__bookCover{
    height: 15vh;
    object-fit: contain;
}
.bookDetails__authorContainer{
    display: flex;
    opacity: 0.6;
}
.bookDetails__icon{
    font-size: smaller!important;
}

.bookDetails__description{
    padding: 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}