.bottomButtons{
    display: flex;
    justify-content: space-evenly;
    bottom: 5vh;
    width: 100%;
    position: fixed;

}

.bookButtons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.bottomButtons .MuiIconButton-root{
    background-color:white;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3)!important;
}

.bottomButtons__dislike{
    padding: 1vw !important;
    color: red;
}

.bottomButtons__like{
    padding: 1vw !important;
    color:#76e2b3;
}
.bottomButtons__bookmark{
    padding: 1vw !important;
    color:#f5b748;
}
