.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid lightslategray;
}
.header__icon{
    padding: 10px;
}
.header__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__homeIcon{
    color: #62b4f9;
}
.header__profileIcon{
    color: #915dd1;
}